<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/static/lib/semantic.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/lib/flatpickr.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <script src="/static/lib/jquery.min.js"></script>
        <script src="/static/lib/semantic.min.js"></script>
        <script src="/static/lib/flatpickr.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
        <style>
            .ui {
                font-family: 'Roboto', sans-serif !important;
            }
        </style>
    </head>
    <body>
        <div class="tcyclone ui grid full-height">
            <div class="row">
                <div class="sixteen wide column">
                    <div class="tcyclone-header ui segment">
                        <div class="ui grid center aligned">
                            <div class="six wide column right aligned">
                                <div
                                    class="tcyclone-map-v1-dropdown-search ui search selection dropdown tcyclone-w-100"
                                >
                                    <i class="dropdown icon"></i>
                                    <div class="default text">V1</div>
                                    <div class="menu"></div>
                                </div>
                            </div>
                            <div class="three wide column center aligned">
                                <button class="tcyclone-btn-check ui primary button">Kiểm tra</button>
                            </div>
                            <div class="six wide column left aligned tcyclone-d-flex tcyclone-align-items-center">
                                <div
                                    class="tcyclone-map-v3-dropdown-search multiple ui search selection dropdown tcyclone-flex-1"
                                >
                                    <i class="dropdown icon"></i>
                                    <div class="default text">V3</div>
                                    <div class="menu"></div>
                                </div>
                                <i class="tcyclone-map-v3-clear times icon tcyclone-ms-5 tcyclone-pointer"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row tcyclone-flex-1">
                <div class="ui container segment">
                    <div class="tcyclone-message tcyclone-d-flex tcyclone-flex-column sixteen wide column">
                        <div class="sixteen wide column">
                            <div class="tcyclone-d-flex">
                                <h1 class="ui header tcyclone-message-Noti tcyclone-w-50">Thông tin</h1>
                                <div class="tcyclone-w-50 tcyclone-text-right">
                                    <h5 class="ui header tcyclone-total-manhole"></h5>
                                    <!-- <div class="ui input">
                                        <input type="text" placeholder="Tên mặt cắt" />
                                    </div>
                                    <button class="ui primary button">Cập nhật</button> -->
                                </div>
                            </div>
                        </div>
                        <div class="tcyclone-verified-info sixteen wide column">
                            <div class="tcyclone-verified-info-column ui segment tcyclone-h-100">
                                <div
                                    class="tcyclone-d-flex tcyclone-flex-wrap tcyclone-scrollbar tcyclone-verified-info-content"
                                >
                                    <!-- <div class="tcyclone-w-100 tcyclone-d-flex">
                                        <div class="tcyclone-w-50">
                                            <div class="tcyclone-p-10">
                                                <ul class="tcyclone-info-list ui segment">
                                                    <li>
                                                        <span class="tcyclone-label"></span
                                                        ><span class="value tcyclone-text-right"
                                                            ><button class="ui primary button">Cập nhật</button></span
                                                        >
                                                    </li>
                                                    <div class="ui divider"></div>
                                                    <li>
                                                        <span class="tcyclone-label">Từ ngày:</span
                                                        ><span class="value">01/01/2024 -> 01/01/2024</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Đến ngày:</span
                                                        ><span class="value">31/12/2024 -> 31/12/2024</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Đơn vị quản lý:</span
                                                        ><span class="value">Công ty ABC -> Công ty ABC</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Loại hố ga:</span
                                                        ><span class="value">Tròn -> Tròn</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Khoảng cách km0:</span
                                                        ><span class="value">100m -> 100m</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Khoảng cách mép đường:</span
                                                        ><span class="value">50cm -> 50cm</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Vị trí:</span
                                                        ><span class="value">Hà Nội -> Hà Nội</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Loại hố ga:</span
                                                        ><span class="value">Vuông -> Vuông</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Kích thước:</span
                                                        ><span class="value">60x60 -> 60x60</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Lý trình:</span
                                                        ><span class="value">Km5+600 -> Km5+600</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="tcyclone-w-50">
                                            <div class="tcyclone-p-10">
                                                <ul class="tcyclone-info-list ui segment">
                                                    <li>
                                                        <span class="tcyclone-label"></span
                                                        ><span class="value tcyclone-text-right"
                                                            ><button class="ui primary button">Cập nhật</button></span
                                                        >
                                                    </li>
                                                    <div class="ui divider"></div>
                                                    <li>
                                                        <span class="tcyclone-label">Từ ngày:</span
                                                        ><span class="value">01/01/2024 -> 01/01/2024</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Đến ngày:</span
                                                        ><span class="value">31/12/2024 -> 31/12/2024</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Đơn vị quản lý:</span
                                                        ><span class="value">Công ty ABC -> Công ty ABC</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Loại hố ga:</span
                                                        ><span class="value">Tròn -> Tròn</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Khoảng cách km0:</span
                                                        ><span class="value">100m -> 100m</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Khoảng cách mép đường:</span
                                                        ><span class="value">50cm -> 50cm</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Vị trí:</span
                                                        ><span class="value">Hà Nội -> Hà Nội</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Loại hố ga:</span
                                                        ><span class="value">Vuông -> Vuông</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Kích thước:</span
                                                        ><span class="value">60x60 -> 60x60</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Lý trình:</span
                                                        ><span class="value">Km5+600 -> Km5+600</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tcyclone-w-100 tcyclone-d-flex">
                                        <div class="tcyclone-w-50">
                                            <div class="tcyclone-p-10">
                                                <ul class="tcyclone-info-list ui segment">
                                                    <li>
                                                        <span class="tcyclone-label"></span
                                                        ><span class="value tcyclone-text-right"
                                                            ><button class="ui primary button">Cập nhật</button></span
                                                        >
                                                    </li>
                                                    <div class="ui divider"></div>
                                                    <li>
                                                        <span class="tcyclone-label">Từ ngày:</span
                                                        ><span class="value">01/01/2024 -> 01/01/2024</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Đến ngày:</span
                                                        ><span class="value">31/12/2024 -> 31/12/2024</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Đơn vị quản lý:</span
                                                        ><span class="value">Công ty ABC -> Công ty ABC</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Loại hố ga:</span
                                                        ><span class="value">Tròn -> Tròn</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Khoảng cách km0:</span
                                                        ><span class="value">100m -> 100m</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Khoảng cách mép đường:</span
                                                        ><span class="value">50cm -> 50cm</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Vị trí:</span
                                                        ><span class="value">Hà Nội -> Hà Nội</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Loại hố ga:</span
                                                        ><span class="value">Vuông -> Vuông</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Kích thước:</span
                                                        ><span class="value">60x60 -> 60x60</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Lý trình:</span
                                                        ><span class="value">Km5+600 -> Km5+600</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="tcyclone-w-50">
                                            <div class="tcyclone-p-10">
                                                <ul class="tcyclone-info-list ui segment">
                                                    <li>
                                                        <span class="tcyclone-label"></span
                                                        ><span class="value tcyclone-text-right"
                                                            ><button class="ui primary button">Cập nhật</button></span
                                                        >
                                                    </li>
                                                    <div class="ui divider"></div>
                                                    <li>
                                                        <span class="tcyclone-label">Từ ngày:</span
                                                        ><span class="value">01/01/2024 -> 01/01/2024</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Đến ngày:</span
                                                        ><span class="value">31/12/2024 -> 31/12/2024</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Đơn vị quản lý:</span
                                                        ><span class="value">Công ty ABC -> Công ty ABC</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Loại hố ga:</span
                                                        ><span class="value">Tròn -> Tròn</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Khoảng cách km0:</span
                                                        ><span class="value">100m -> 100m</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Khoảng cách mép đường:</span
                                                        ><span class="value">50cm -> 50cm</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Vị trí:</span
                                                        ><span class="value">Hà Nội -> Hà Nội</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Loại hố ga:</span
                                                        ><span class="value">Vuông -> Vuông</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Kích thước:</span
                                                        ><span class="value">60x60 -> 60x60</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Lý trình:</span
                                                        ><span class="value">Km5+600 -> Km5+600</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tcyclone-w-100 tcyclone-d-flex">
                                        <div class="tcyclone-w-50">
                                            <div class="tcyclone-p-10">
                                                <ul class="tcyclone-info-list ui segment">
                                                    <li>
                                                        <span class="tcyclone-label"></span
                                                        ><span class="value tcyclone-text-right"
                                                            ><button class="ui primary button">Cập nhật</button></span
                                                        >
                                                    </li>
                                                    <div class="ui divider"></div>
                                                    <li>
                                                        <span class="tcyclone-label">Từ ngày:</span
                                                        ><span class="value">01/01/2024 -> 01/01/2024</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Đến ngày:</span
                                                        ><span class="value">31/12/2024 -> 31/12/2024</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Đơn vị quản lý:</span
                                                        ><span class="value">Công ty ABC -> Công ty ABC</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Loại hố ga:</span
                                                        ><span class="value">Tròn -> Tròn</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Khoảng cách km0:</span
                                                        ><span class="value">100m -> 100m</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Khoảng cách mép đường:</span
                                                        ><span class="value">50cm -> 50cm</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Vị trí:</span
                                                        ><span class="value">Hà Nội -> Hà Nội</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Loại hố ga:</span
                                                        ><span class="value">Vuông -> Vuông</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Kích thước:</span
                                                        ><span class="value">60x60 -> 60x60</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Lý trình:</span
                                                        ><span class="value">Km5+600 -> Km5+600</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="tcyclone-w-50">
                                            <div class="tcyclone-p-10">
                                                <ul class="tcyclone-info-list ui segment">
                                                    <li>
                                                        <span class="tcyclone-label"></span
                                                        ><span class="value tcyclone-text-right"
                                                            ><button class="ui primary button">Cập nhật</button></span
                                                        >
                                                    </li>
                                                    <div class="ui divider"></div>
                                                    <li>
                                                        <span class="tcyclone-label">Từ ngày:</span
                                                        ><span class="value">01/01/2024 -> 01/01/2024</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Đến ngày:</span
                                                        ><span class="value">31/12/2024 -> 31/12/2024</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Đơn vị quản lý:</span
                                                        ><span class="value">Công ty ABC -> Công ty ABC</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Loại hố ga:</span
                                                        ><span class="value">Tròn -> Tròn</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Khoảng cách km0:</span
                                                        ><span class="value">100m -> 100m</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Khoảng cách mép đường:</span
                                                        ><span class="value">50cm -> 50cm</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Vị trí:</span
                                                        ><span class="value">Hà Nội -> Hà Nội</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Loại hố ga:</span
                                                        ><span class="value">Vuông -> Vuông</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Kích thước:</span
                                                        ><span class="value">60x60 -> 60x60</span>
                                                    </li>
                                                    <li>
                                                        <span class="tcyclone-label">Lý trình:</span
                                                        ><span class="value">Km5+600 -> Km5+600</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="tcyclone-message-footer">
                            <div class="tcyclone-d-flex">
                                <div class="tcyclone-w-50 tcyclone-text-left"></div>
                                <div class="tcyclone-w-50 tcyclone-text-right">
                                    <!-- <button class="ui orange button">Cập nhật toàn bộ</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row tcyclone-footer">
                <div class="sixteen wide column">
                    <p class="tcyclone-copy">
                        <a target="_blank" href="/">© Copyright 2025 TCyclone. All rights reserved.</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="tcyclone-notification">
            <p class="tcyclone-notification-message">You have a new message!</p>
            <span class="tcyclone-close-button">&times;</span>
        </div>
        <div class="tcyclone-modal-update ui modal small">
            <div class="header">Cập nhật hố ga</div>
            <div class="content">
                <div class="ui form">
                    <input type="hidden" class="tcyclone-modal-organization-id" />
                    <input type="hidden" class="tcyclone-modal-id" />
                    <div class="field">
                        <div class="tcyclone-px-5">
                            <label>Tên</label>
                            <div class="ui disabled input mini">
                                <input
                                    disabled
                                    type="text"
                                    class="tcyclone-modal-input tcyclone-modal-name"
                                    placeholder="Tên..."
                                />
                            </div>
                        </div>
                    </div>
                    <div class="tcyclone-d-flex tcyclone-flex-wrap">
                        <div class="field tcyclone-w-50">
                            <div class="tcyclone-px-5">
                                <label>Ngày bắt đầu</label>
                                <div class="ui input mini">
                                    <input
                                        type="text"
                                        placeholder="dd/mm/yyyy"
                                        class="tcyclone-modal-input tcyclone-modal-start-date"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="field tcyclone-w-50">
                            <div class="tcyclone-px-5">
                                <label>Ngày kết thúc</label>
                                <div class="ui input mini">
                                    <input
                                        type="text"
                                        placeholder="dd/mm/yyyy"
                                        class="tcyclone-modal-input tcyclone-modal-end-date"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="field tcyclone-w-50">
                            <div class="tcyclone-px-5">
                                <label>Loại đối tượng</label>
                                <div
                                    class="tcyclone-modal-dropdown tcyclone-modal-object disabled tcyclone-w-100 mini ui search selection dropdown"
                                >
                                    <i class="dropdown icon"></i>
                                    <div class="default text">V3</div>
                                    <div class="menu">
                                        <div class="item" data-value="ROAD">Đường</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field tcyclone-w-50">
                            <div class="tcyclone-px-5">
                                <label>Tên đối tượng</label>
                                <div
                                    class="tcyclone-modal-dropdown tcyclone-modal-object-name tcyclone-w-100 mini ui search selection dropdown"
                                >
                                    <i class="dropdown icon"></i>
                                    <div class="default text">V3</div>
                                    <div class="menu"></div>
                                </div>
                            </div>
                        </div>
                        <div class="field tcyclone-w-50">
                            <div class="tcyclone-px-5">
                                <label>Dơn vị quản lý</label>
                                <div class="ui disabled input mini">
                                    <input
                                        type="text"
                                        class="tcyclone-modal-input disabled"
                                        placeholder="Dơn vị quản lý..."
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="field tcyclone-w-50">
                            <div class="tcyclone-px-5">
                                <label>Khoảng cách so với km0</label>
                                <div class="ui input mini">
                                    <input
                                        type="text"
                                        class="tcyclone-modal-input tcyclone-modal-distance-to-0km"
                                        placeholder="Khoảng cách so với km0..."
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="field tcyclone-w-50">
                            <div class="tcyclone-px-5">
                                <label>Khoảng cách mép đường</label>
                                <div class="ui input mini">
                                    <input
                                        type="text"
                                        class="tcyclone-modal-input tcyclone-modal-road-edge-distance"
                                        placeholder="Khoảng cách mép đường..."
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="field tcyclone-w-50">
                            <div class="tcyclone-px-5">
                                <label>Vị trí</label>
                                <div
                                    class="tcyclone-modal-dropdown tcyclone-modal-positon tcyclone-w-100 mini ui search selection dropdown"
                                >
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Vị trí</div>
                                    <div class="menu">
                                        <div class="item" data-value="LEFT">Trái</div>
                                        <div class="item" data-value="RIGHT">Phải</div>
                                        <div class="item" data-value="CENTER">Tim</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field tcyclone-w-50">
                            <div class="tcyclone-px-5">
                                <label>Loại hố</label>
                                <div
                                    class="tcyclone-modal-dropdown tcyclone-modal-manhole-type tcyclone-w-100 mini ui search selection dropdown"
                                >
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Loại hố</div>
                                    <div class="menu">
                                        <div class="item" data-value="380">Bưu điện</div>
                                        <div class="item" data-value="379">Cứu hỏa</div>
                                        <div class="item" data-value="378">Nước sạch</div>
                                        <div class="item" data-value="377">Điện lực</div>
                                        <div class="item" data-value="376">Viễn thông</div>
                                        <div class="item" data-value="375">Thoát nước</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field tcyclone-w-50">
                            <div class="tcyclone-px-5">
                                <label>Kích thước</label>
                                <div class="ui input mini">
                                    <input
                                        type="text"
                                        class="tcyclone-modal-input tcyclone-modal-size"
                                        placeholder="Kích thước..."
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="tcyclone-px-5">
                            <label>Tình trạng</label>
                            <div
                                class="tcyclone-modal-dropdown tcyclone-modal-status tcyclone-w-100 mini ui search selection dropdown"
                            >
                                <i class="dropdown icon"></i>
                                <div class="default text">V3</div>
                                <div class="menu">
                                    <div class="item" data-value="433">Lún</div>
                                    <div class="item" data-value="432">Hư hỏng</div>
                                    <div class="item" data-value="431">mất nắp</div>
                                    <div class="item" data-value="430">Mất</div>
                                    <div class="item" data-value="429">Tốt</div>
                                    <div class="item" data-value="428">Cũ, hỏng</div>
                                    <div class="item" data-value="427">Gãy hỏng</div>
                                    <div class="item" data-value="426">Han gỉ</div>
                                    <div class="item" data-value="425">Cũ</div>
                                    <div class="item" data-value="424">hỏng</div>
                                    <div class="item" data-value="423">Bình thường</div>
                                    <div class="item" data-value="422">Không có khung+nắp</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tcyclone-d-flex tcyclone-flex-wrap">
                        <div class="field tcyclone-w-50">
                            <div class="tcyclone-px-5">
                                <label>Tọa độ</label>
                                <textarea
                                    class="tcyclone-modal-input tcyclone-modal-coordinates"
                                    placeholder="Tọa độ"
                                    rows="4"
                                ></textarea>
                            </div>
                        </div>
                        <div class="field tcyclone-w-50">
                            <div class="tcyclone-px-5">
                                <label>Mô tả</label>
                                <textarea
                                    class="tcyclone-modal-input tcyclone-modal-description"
                                    placeholder="Mô tả"
                                    rows="4"
                                ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="ui red deny button">Hủy</div>
                <div class="tcyclone-modal-submit ui green button">Lưu</div>
            </div>
        </div>

        <div class="tcyclone-modal-create ui modal large">
            <div class="header">Thêm mới hố ga</div>
            <div class="content">
                <div class="tcyclone-d-flex tcyclone-align-items-center tcyclone-gap-10">
                    <div class="tcyclone-modal-create-data tcyclone-w-100"></div>
                    <div class="ui form">
                        <div class="tcyclone-d-flex tcyclone-flex-wrap">
                            <div class="field tcyclone-w-50">
                                <div class="tcyclone-px-5">
                                    <label>Ngày bắt đầu</label>
                                    <div class="ui input mini">
                                        <input
                                            type="text"
                                            placeholder="dd/mm/yyyy"
                                            class="tcyclone-modal-input tcyclone-modal-start-date-create"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="field tcyclone-w-50">
                                <div class="tcyclone-px-5">
                                    <label>Ngày kết thúc</label>
                                    <div class="ui input mini">
                                        <input
                                            type="text"
                                            placeholder="dd/mm/yyyy"
                                            class="tcyclone-modal-input tcyclone-modal-end-date-create"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="field tcyclone-w-50">
                                <div class="tcyclone-px-5">
                                    <label>Loại đối tượng</label>
                                    <div
                                        class="tcyclone-modal-dropdown tcyclone-modal-object-create disabled tcyclone-w-100 mini ui search selection dropdown"
                                    >
                                        <i class="dropdown icon"></i>
                                        <div class="default text">V3</div>
                                        <div class="menu">
                                            <div class="item" data-value="ROAD">Đường</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field tcyclone-w-50">
                                <div class="tcyclone-px-5">
                                    <label>Tên đối tượng</label>
                                    <div
                                        class="tcyclone-modal-dropdown tcyclone-modal-object-name-create tcyclone-w-100 mini ui search selection dropdown"
                                    >
                                        <i class="dropdown icon"></i>
                                        <div class="default text">V3</div>
                                        <div class="menu"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="field tcyclone-w-50">
                                <div class="tcyclone-px-5">
                                    <label>Dơn vị quản lý</label>
                                    <div class="ui disabled input mini">
                                        <input
                                            type="text"
                                            class="tcyclone-modal-input disabled"
                                            placeholder="Dơn vị quản lý..."
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="field tcyclone-w-50">
                                <div class="tcyclone-px-5">
                                    <label>Khoảng cách so với km0</label>
                                    <div class="ui input mini">
                                        <input
                                            type="text"
                                            class="tcyclone-modal-input tcyclone-modal-distance-to-0km-create"
                                            placeholder="Khoảng cách so với km0..."
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="field tcyclone-w-50">
                                <div class="tcyclone-px-5">
                                    <label>Khoảng cách mép đường</label>
                                    <div class="ui input mini">
                                        <input
                                            type="text"
                                            class="tcyclone-modal-input tcyclone-modal-road-edge-distance-create"
                                            placeholder="Khoảng cách mép đường..."
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="field tcyclone-w-50">
                                <div class="tcyclone-px-5">
                                    <label>Vị trí</label>
                                    <div
                                        class="tcyclone-modal-dropdown tcyclone-modal-positon-create tcyclone-w-100 mini ui search selection dropdown"
                                    >
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Vị trí</div>
                                        <div class="menu">
                                            <div class="item" data-value="LEFT">Trái</div>
                                            <div class="item" data-value="RIGHT">Phải</div>
                                            <div class="item" data-value="CENTER">Tim</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field tcyclone-w-50">
                                <div class="tcyclone-px-5">
                                    <label>Loại hố</label>
                                    <div
                                        class="tcyclone-modal-dropdown tcyclone-modal-manhole-type-create tcyclone-w-100 mini ui search selection dropdown"
                                    >
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Loại hố</div>
                                        <div class="menu">
                                            <div class="item" data-value="380">Bưu điện</div>
                                            <div class="item" data-value="379">Cứu hỏa</div>
                                            <div class="item" data-value="378">Nước sạch</div>
                                            <div class="item" data-value="377">Điện lực</div>
                                            <div class="item" data-value="376">Viễn thông</div>
                                            <div class="item" data-value="375">Thoát nước</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field tcyclone-w-50">
                                <div class="tcyclone-px-5">
                                    <label>Kích thước</label>
                                    <div class="ui input mini">
                                        <input
                                            type="text"
                                            class="tcyclone-modal-input tcyclone-modal-size-create"
                                            placeholder="Kích thước..."
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="tcyclone-px-5">
                                <label>Tình trạng</label>
                                <div
                                    class="tcyclone-modal-dropdown tcyclone-modal-status-create tcyclone-w-100 mini ui search selection dropdown"
                                >
                                    <i class="dropdown icon"></i>
                                    <div class="default text">V3</div>
                                    <div class="menu">
                                        <div class="item" data-value="433">Lún</div>
                                        <div class="item" data-value="432">Hư hỏng</div>
                                        <div class="item" data-value="431">mất nắp</div>
                                        <div class="item" data-value="430">Mất</div>
                                        <div class="item" data-value="429">Tốt</div>
                                        <div class="item" data-value="428">Cũ, hỏng</div>
                                        <div class="item" data-value="427">Gãy hỏng</div>
                                        <div class="item" data-value="426">Han gỉ</div>
                                        <div class="item" data-value="425">Cũ</div>
                                        <div class="item" data-value="424">hỏng</div>
                                        <div class="item" data-value="423">Bình thường</div>
                                        <div class="item" data-value="422">Không có khung+nắp</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tcyclone-d-flex tcyclone-flex-wrap">
                            <div class="field tcyclone-w-50">
                                <div class="tcyclone-px-5">
                                    <label>Tọa độ</label>
                                    <textarea
                                        class="tcyclone-modal-input tcyclone-modal-coordinates-create"
                                        placeholder="Tọa độ"
                                        rows="4"
                                    ></textarea>
                                </div>
                            </div>
                            <div class="field tcyclone-w-50">
                                <div class="tcyclone-px-5">
                                    <label>Mô tả</label>
                                    <textarea
                                        class="tcyclone-modal-input tcyclone-modal-description-create"
                                        placeholder="Mô tả"
                                        rows="4"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="ui red deny button">Hủy</div>
                <div class="tcyclone-modal-submit-create ui green button">Lưu</div>
            </div>
        </div>
        <script src="/static/script.js"></script>
        <script src="/static/loader.js"></script>
    </body>
</html>
